<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.abhaychauhan.www.udacityunofficialclient">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FreeCourseActivity"
            android:label="Free Course catalog"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NanodegreeActivity"
            android:label="Nanodegree"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TracksActivity"
            android:label="Course Tracks"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FreeCourseDetailActivity"
            android:parentActivityName=".FreeCourseActivity"
            android:label="@string/course_details"></activity>
    </application>

</manifest>